html
  head
    title Hello World
    link(rel="stylesheet" href="styles.css")
  body
    h1 Hello World! My name is #{name}
    p This is where my content would go... <em>if I had some!!</em>
    include partials/menu
