html
  head
    title Create a Widget
    link(rel="stylesheet" href="/styles.css")
  body
    h1 Create Widget
    form(action="/widgets/" method="POST")
      label Name:
        input(type="text" name="name")
      button Create
    include partials/menu
